@{
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>SaaS Social</h1>
    <p>
        Ciao! Per entrare in Facebook, premi <a href="@Url.Action("Index", "Facebook")" class="btn btn-primary">qui</a><br />
        Per entrare in Live, premi <a href="@Url.Action("Index", "Live")" class="btn btn-primary">qui</a>
    </p>
</div>
