@{
    ViewBag.Title = "To Do Items";
}
<h2>To Do Items</h2>
<h3>Comandi</h3>
<div><a class="btn btn-default" href="@Url.Action("NuovaCosaDaFareOggi")">Nuova cosa da fare oggi</a></div>
<h3>Queries</h3>