@{
    ViewBag.Title = "Nuova Cosa Da Fare Domani";
}
<h2>Nuova Cosa Da Fare Domani</h2>
<form method="post">
    <label for="cosa">Cosa</label>
    <input type="text" name="cosa" id="cosa" />
    <label for="categoria">Categoria</label>
    <select name="categoria" id="categoria">
        <option value="community">Community</option>
        <option value="lezione">Lezione</option>
        <option value="lavoro">Lavoro</option>
        <option value="personale">Personale</option>
    </select>
    <button class="btn btn-primary">Vai</button>
</form>